    #export all variables that do not start with a period
exportPattern("^[^\\.]")

    #requires nlme
import(nlme)

    #solve NOTE in check results
importFrom("stats", "aggregate", "formula", "lm", "model.matrix",
           "predict", "resid", "terms", "var")

