    #export all variables that do not start with a period
exportPattern("^[^\\.]")

    #requires nlme
import(nlme)

    #S3 methods of the eblup.mse.f function
#S3method(default, eblup.mse.f)
## S3method(gamma.i, eblup.mse.f)
## S3method(c1, eblup.mse.f)
## S3method(c2.ai, eblup.mse.f)
## S3method(c2, eblup.mse.f)
## S3method(c3.asyvarcovarmat, eblup.mse.f)
## S3method(c3, eblup.mse.f)
## S3method(c3.star, eblup.mse.f)

## S3method(eblup.mse.f, gamma.i)
## S3method(eblup.mse.f, c1)
## S3method(eblup.mse.f, c2.ai)
## S3method(eblup.mse.f, c2)
## S3method(eblup.mse.f, c3.asyvarcovarmat)
## S3method(eblup.mse.f, c3)
## S3method(eblup.mse.f, c3.star)
